# LangChain / LangGraph
langchain
langchain-core
langchain-text-splitters
langchain-community
langchain-mcp-adapters
langgraph
langgraph-checkpoint-sqlite

# OpenAI
langchain-openai
openai

# Tools
ddgs
faiss-cpu
pypdf

# Persistence
aiosqlite

# API + App
fastapi
uvicorn[standard]
httpx
streamlit

# Environment variables
python-dotenv
