# LangChain Core
langchain
langchain-core
langgraph
langgraph-checkpoint-sqlite
ddgs
streamlit
langchain-mcp-adapters

# OpenAI Integration
langchain-openai
openai
streamlit

# Environment Variable Management
python-dotenv


